body {
 
 
    background-image: linear-gradient(  rgba(0,0,0, 0.40), rgba(0,0,0, 0.40)  ), url(https://mcdn.wallpapersafari.com/medium/63/89/BP8R23.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 20em;
    
    }
h1{
font-family: a Annyeong Haseyo ;
font-size: 150px;
color: rgb(226, 49, 43);
background-color: black;
height: 150px;

}
h3{
    font-family: a Annyeong Haseyo ;
    font-size: 70px;
    color: white;

}
p{
text-align: justify;
color: white;
font-size: 22px;


}
h2{
    font-family: Britannic ;
    font-size: 30px;
    color: white;
}
h4{

color: white;
font-size: 25px;

}
